* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.searchInfo {
  width: 90vw;
}

.searchResults {
  width: 100%;
}

.searchResults h1 {
  font-size: 20px;
  display: inline;
}

.searchResults .searchedPhrase {
  font-weight: 600;
}

.searchResults .quantity {
  color: rgba(0, 0, 0, 0.5);
}

.path {
  width: 100%;
  margin: 90px 0 10px;
}

.path a {
  text-decoration: none;
  font-size: 14px;
  color: #444444;
}

.path .break {
  display: inline;
  font-size: 14px;
}

.filterHolder {
  display: none;
}

.product {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 2px solid #444444;
}

.product h4 {
  font-size: 20px;
  padding-top: 10px;
}

.product h5 {
  font-size: 12px;
}

.product img {
  max-height: 250px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 768px) {
  .searchInfo {
    width: 700px;
  }
  .productListContent {
    display: -ms-grid;
    display: grid;
    width: 700px;
    grid-gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 20px;
    min-height: calc(100vh - 125px);
  }
  .filtersCaptionHolder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .filterHolder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    padding: 5px 20px 20px 20px;
    border: 3px solid #444444;
    border-radius: 20px;
  }
  .filterHolder button {
    border: none;
    padding: 10px 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 20px;
    margin: 20px 0;
    outline: none;
    cursor: pointer;
    background: whitesmoke;
  }
  .filterHolder h1 {
    display: inline;
    font-size: 30px;
  }
  .filterHolder .clearFiltersBtn {
    cursor: pointer;
    display: inline;
    font-size: 12px;
    background: rgba(0, 0, 0, 0);
    padding: 8px;
  }
  .filterGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0;
  }
  .filterGroup button {
    margin: 10px;
    padding: 0;
    border-radius: 0;
    width: 100%;
  }
  .filterGroupName {
    font-size: 20px;
    padding: 10px 0;
  }
  .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
  }
  .filter label {
    font-size: 17px;
  }
  .filter input[type=checkbox] {
    margin-right: 5px;
  }
  .filter input[type=number] {
    width: 40%;
    height: 40px;
    border-radius: 20px;
    border: none;
    text-align: center;
    -webkit-appearance: none;
    outline: none;
    margin-left: 0;
    margin: 0 auto;
    background: whitesmoke;
  }
  .filterPrice {
    margin-left: 0;
  }
  .filterHolder {
    display: none;
  }
  .productList {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-gap: 10px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .productList .product {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border: 2px solid #444444;
    border-radius: 20px;
  }
  .productList .product h4 {
    font-size: 20px;
    padding-top: 10px;
  }
  .productList .product h5 {
    font-size: 12px;
  }
  .productList .product img {
    max-height: 250px;
  }
}

@media (min-width: 1000px) {
  .searchInfo {
    width: 950px;
  }
  .filterHolder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .productListContent {
    width: 950px;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
}

@media (min-width: 1200px) {
  .searchInfo {
    width: 1150px;
  }
  .searchResults {
    width: 100%;
  }
  .searchResults h1 {
    font-size: 20px;
    display: inline;
  }
  .searchResults .searchedPhrase {
    font-weight: 600;
  }
  .searchResults .quantity {
    color: rgba(0, 0, 0, 0.5);
  }
  .path {
    width: 100%;
    margin: 20px 0;
  }
  .path a {
    text-decoration: none;
    font-size: 14px;
    color: #444444;
  }
  .path .break {
    display: inline;
    font-size: 14px;
  }
  .productListContent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    width: 1150px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 20px;
    min-height: calc(100vh - 125px);
  }
  .filtersCaptionHolder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .filterHolder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    padding: 5px 20px 20px 20px;
    border: 3px solid #444444;
    border-radius: 20px;
  }
  .filterHolder button {
    border: none;
    padding: 10px 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 20px;
    margin: 20px 0;
    outline: none;
    cursor: pointer;
    background: whitesmoke;
  }
  .filterHolder h1 {
    display: inline;
    font-size: 30px;
  }
  .filterHolder .clearFiltersBtn {
    cursor: pointer;
    display: inline;
    font-size: 12px;
    background: rgba(0, 0, 0, 0);
    padding: 8px;
  }
  .filterGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0;
  }
  .filterGroup button {
    margin: 10px;
    padding: 0;
    border-radius: 0;
    width: 100%;
  }
  .filterGroupName {
    font-size: 20px;
    padding: 10px 0;
  }
  .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
  }
  .filter label {
    font-size: 17px;
  }
  .filter input[type=checkbox] {
    margin-right: 5px;
  }
  .filter input[type=number] {
    width: 40%;
    height: 40px;
    border-radius: 20px;
    border: none;
    text-align: center;
    -webkit-appearance: none;
    outline: none;
    margin-left: 0;
    margin: 0 auto;
    background: whitesmoke;
  }
  .filterPrice {
    margin-left: 0;
  }
  .productList {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-gap: 10px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .productList .product {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border: 2px solid #444444;
    border-radius: 20px;
  }
  .productList .product h4 {
    font-size: 20px;
    padding-top: 10px;
  }
  .productList .product h5 {
    font-size: 12px;
  }
  .productList .product img {
    max-height: 250px;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  width: 100vw;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 90vw;
  margin-top: 100px;
  font-family: "Lato";
}

.hotShotCaption {
  font-size: 25px;
  margin-bottom: 20px;
}

.newsCaption {
  display: none;
  font-size: 1.2em;
}

.bestsellers {
  grid-area: bestsellers;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.bestsellersCaption,
.hotShotCaption {
  font-size: 1.2em;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  color: #262626;
  padding: 20px;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.product:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.product h3 {
  font-size: 1em;
  margin: 10px 0;
}

.product h4 {
  font-size: .8em;
}

.product img {
  width: 60%;
}

.addToCart {
  display: none;
}

.slider {
  display: none;
  z-index: 1;
}

.hotShotBorder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #262626;
  height: 100%;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#444444), color-stop(#d6475b), color-stop(#cb6676), color-stop(#bc818c), to(#a9989c));
  background-image: linear-gradient(to right, #444444, #d6475b, #cb6676, #bc818c, #a9989c);
  margin-bottom: 30px;
}

.hotShot {
  width: 98.5%;
  height: 98.5%;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  font-family: 'Roboto';
  font-size: 20px;
}

.hotShot img {
  width: 50%;
  margin: 20px 0;
}

.hotShotProductName {
  text-align: center;
  font-size: 1em;
}

.prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 20px 0;
}

.oldPrice {
  text-decoration: line-through;
  font-size: 1em;
  color: #444444;
  margin-right: 50px;
}

.newPrice {
  font-size: 1.5em;
  color: crimson;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .75em;
  width: 100%;
}

.progressBar {
  width: 100%;
  border: 1px solid #444444;
  margin: 5px 0 20px;
  height: 30px;
}

.progress {
  width: 80%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#9EE76B), to(#4FC587));
  background: linear-gradient(to left, #9EE76B, #4FC587);
}

.timeCaption {
  font-size: 1em;
}

.timeLeft {
  font-size: 1.5em;
}

.brandsCaption {
  font-size: 1.2em;
  margin: 1.5em 0 .5em 0;
}

.recommendedCaption {
  grid-area: recommendedCaption;
  font-size: 1.2em;
  margin: 1em 0;
}

.recommended {
  grid-area: recommended;
  border-top: 3px solid #444444;
}

.brands {
  grid-area: brands;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10000px;
  position: relative;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  height: 150px;
  width: 45vw;
}

.brand img {
  width: 20%;
}

.prev {
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  cursor: pointer;
  border-radius: 25px;
  outline: none;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.next {
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  left: calc(90vw - 50px);
  border-radius: 25px;
  outline: none;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.posts {
  grid-area: posts;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-left: 3px solid #444444;
  position: relative;
}

.posts h1 {
  font-size: 18px;
  padding: 20px;
}

.posts a {
  text-decoration: none;
  font-size: 14px;
}

.posts .morePosts {
  position: absolute;
  bottom: 0;
  right: 20px;
  color: #444444;
}

.postsCaption {
  grid-area: postsCaption;
  font-size: 1.2em;
  margin: 1em 0 0;
}

.slider {
  grid-area: slider;
}

@media (min-width: 768px) {
  body {
    font-size: 23px;
  }
  .content {
    width: 700px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: "newsCaption newsCaption newsCaption newsCaption newsCaption" "slider slider slider slider slider" "postsCaption postsCaption postsCaption hsc hsc" "posts posts posts hotShot hotShot" "bestsellersCaption bestsellersCaption bestsellersCaption bestsellersCaption bestsellersCaption" "bestsellers bestsellers bestsellers bestsellers bestsellers" "brandsCaption brandsCaption brandsCaption brandsCaption brandsCaption" "brands brands brands brands brands" "moreBrandBtn moreBrandBtn moreBrandBtn moreBrandBtn moreBrandBtn" "recommendedCaption recommendedCaption recommendedCaption recommendedCaption recommendedCaption" "recommended recommended recommended recommended recommended";
    grid-gap: .5em;
  }
  .slider {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: slider;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 1.5em;
  }
  .slider img {
    height: 100%;
  }
  .newsCaption {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: newsCaption;
    display: inline;
    padding: 10px 0;
    text-decoration: none;
    color: #262626;
  }
  .hotShotCaption {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-area: hsc;
    margin: 0;
  }
  .bestsellers {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: bestsellers;
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    border-left: 3px solid #262626;
  }
  .bestsellersCaption {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: bestsellersCaption;
  }
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .product h3 {
    font-size: 1rem;
    margin: 10px 0;
  }
  .product h4 {
    font-size: 1rem;
  }
  .product img {
    width: 80%;
  }
  .hotShotBorder {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-area: hotShot;
  }
  .brandsCaption {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: brandsCaption;
    margin: 1em 0 0 0;
  }
  .recommendedCaption {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: recommendedCaption;
    font-size: 1.2em;
    margin: 1em 0 0;
  }
  .recommended {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    height: 150px;
    width: 230px;
  }
  .brand img {
    width: 30%;
  }
  .next {
    left: 650px;
  }
}

@media (min-width: 1000px) {
  .content {
    width: 950px;
  }
  .next {
    left: 900px;
  }
}

@media (min-width: 1200px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 25px;
  }
  .mobileSections {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: mobileSections;
  }
  .content {
    width: 1150px;
    margin-top: .5em;
    grid-column-gap: 1em;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "mobileSections mobileSections mobileSections mobileSections mobileSections mobileSections" "newsCaption newsCaption newsCaption newsCaption hsc hsc " "slider slider slider slider hotShot hotShot" "bestsellersCaption bestsellersCaption bestsellersCaption bestsellersCaption bestsellersCaption bestsellersCaption" "bestsellers bestsellers bestsellers bestsellers bestsellers bestsellers" "brandsCaption brandsCaption brandsCaption brandsCaption brandsCaption brandsCaption" "brands brands brands brands brands brands" "moreBrandBtn moreBrandBtn moreBrandBtn moreBrandBtn moreBrandBtn moreBrandBtn" "postsCaption postsCaption recommendedCaption recommendedCaption recommendedCaption recommendedCaption" "posts posts recommended recommended recommended recommended";
  }
  .hotShotBorder {
    margin-bottom: 0;
  }
  .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
    height: 100%;
    margin-bottom: 0;
  }
  .slider img {
    border-radius: 20px;
    height: 100%;
  }
  .bestseller {
    width: 50%;
  }
  .bestsellers {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .bestsellers img {
    width: 60%;
  }
  .bestsellers h3 {
    font-size: .7em;
  }
  .bestsellers h4 {
    font-size: .8em;
  }
  .product:nth-of-type(n+8) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .timeCaption {
    font-size: 20px;
  }
  .newsCaption {
    padding: 0;
  }
  .bestsellersCaption {
    margin: 30px 0 0;
  }
  .brand img {
    width: 40%;
  }
  .next {
    left: 1100px;
  }
}

footer {
  height: 300px;
  width: 100vw;
  background: #262626;
  color: white;
  text-align: center;
  line-height: 100px;
  margin-top: 100px;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
