.orderDetailsContent {
    // background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    // flex-wrap: wrap;
    width: 90vw;
    margin-top: 80px;
}

.caption {
    font-size: 25px;
    margin: 20px 0;
    width: 100%;
}

.boxList {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    border-bottom: 2px solid $secondaryColor;
    padding-bottom: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgba($secondaryColor, .3);
    color: rgba($secondaryColor, .7);

    border-radius: 20px;
    cursor: pointer;
    height: 150px;
    // background: red;
    filter: grayscale(100%);

    i {
        font-size: 40px;
    }

    h5 {
        text-align: center;
        font-size: 16px;
    }
}

.boxActive {
    filter: grayscale(0);
    border: 4px solid #00a2ed;
    color: $secondaryColor;
}

.addressInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    // justify-items: center;
    // align-items: center;
}

.inputHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputLine {
    display: flex;
    flex-direction: column;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    // text-align: right;
    // align-content: center;
    // justify-items: center;
    // width: 100%;
    padding: 10px;
    width: 75%;

    div{
        display: flex;
        flex-direction: column;
    }
    
    input {
        // padding: 10px;
        border: 1px solid rgba($secondaryColor, .3);
        border-radius: 20px;

        padding: 10px 20px;
    }

    label {
        display: flex;
        // align-items: center;
        margin-top: 2px;
        // justify-content: flex-end;
        padding: 5px 0;
        font-size: 18px;
    }

    .message {
        // border: 1px solid red;
        padding: 10px;
        min-height: 200px;
    }

    span{
        color: crimson;
        font-size: 13px;
    }
}

.buyBtn{
    padding: 10px 20px;
    border: 2px solid $secondaryColor;
    border-radius: 20px;
    background: transparent;

    width: 100px;
    margin: 20px 0;
}


@media (min-width: 768px) {
    .orderDetailsContent {
        width: 700px;
    }

    .inputLine{
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-template-areas: ;




        label{
            justify-content: flex-end;
        }
    }
}