@import "config";
@import "navbar";
@import "slider";
@import "productList";
@import "login";
@import "table";

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    // width: 100vw;
}

.content {
    display: flex;
    flex-direction: column;
    overflow: hidden;;
    width: 90vw;
    margin-top: 100px;
    font-family: "Lato";
}

.hotShotCaption {
    font-size: 25px;
    margin-bottom: 20px;
}

.newsCaption {
    display: none;
    font-size: 1.2em;
}

.bestsellers {
    grid-area: bestsellers;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
}

.bestsellersCaption,
.hotShotCaption {
    font-size: 1.2em;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #262626;
    padding: 20px;
    transition: .5s all;

    &:hover {
        transform: scale(1.05);
    }

    // &:nth-of-type(n+8) {
    //     display: none;
    // }

    h3 {
        font-size: 1em;
        margin: 10px 0;
    }

    h4 {
        font-size: .8em;
    }

    img {
        width: 60%;
    }
}

.addToCart {
    display: none;
}

.slider {
    display: none;
    z-index: 1;
}

.hotShotBorder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #262626;
    height: 100%;
    border-radius: 50px;
    background-image: linear-gradient(to right, $secondaryColor, #d6475b, #cb6676, #bc818c, #a9989c);
    margin-bottom: 30px;
}

.hotShot {
    width: 98.5%;
    height: 98.5%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $primaryColor;
    font-family: 'Roboto';

    font-size: 20px;
}

.hotShot img {
    width: 50%;
    margin: 20px 0;
}

.hotShotProductName {
    text-align: center;
    font-size: 1em;
}

.prices {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px 0;
}

.oldPrice {
    text-decoration: line-through;
    font-size: 1em;
    color: $secondaryColor;
    margin-right: 50px;
}

.newPrice {
    font-size: 1.5em;
    color: crimson;
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: .75em;
    width: 100%;
}

.progressBar {
    width: 100%;
    border: 1px solid $secondaryColor;
    margin: 5px 0 20px;
    height: 30px;
}

.progress {
    width: 80%;
    height: 100%;
    background: linear-gradient(to left, #9EE76B, #4FC587);
}

.timeCaption {
    font-size: 1em;
}

.timeLeft {
    font-size: 1.5em;
}

.brandsCaption {
    font-size: 1.2em;
    margin: 1.5em 0 .5em 0;
}



.recommendedCaption {
    grid-area: recommendedCaption;
    font-size: 1.2em;
    margin: 1em 0;
}

.recommended {
    grid-area: recommended;
    border-top: 3px solid #444444;
}




.brands {
    grid-area: brands;
    display: flex;
    align-items: center;
    width: 10000px;
    position: relative;
    transition: .5s all;
}


.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 150px;
    width: 45vw;

    img {
        width: 20%;
    }
}



.prev {
    width: 50px;
    height: 50px;
    border: none;
    position: absolute;
    cursor: pointer;
    border-radius: 25px;
    outline: none;

    transition: .5s all;
}


.next {
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    left: calc(90vw - 50px);
    border-radius: 25px;
    outline: none;

    transition: .5s all;
}

.posts{
    grid-area: posts;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 3px solid #444444;
    position: relative;

    h1{
        font-size: 18px;
        padding: 20px;
    }

    a{
        text-decoration: none;
        font-size: 14px;
    }

    .morePosts{
        position: absolute;
        bottom: 0;
        right: 20px;
        color: $secondaryColor;
    }
}

.postsCaption{
    grid-area: postsCaption;
    font-size: 1.2em;
    margin: 1em 0 0;
}

.slider {
    grid-area: slider;
}

@media (min-width: 768px) {

    body {
        font-size: 23px;
    }

    .content {
        width: 700px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            "newsCaption newsCaption newsCaption newsCaption newsCaption"
            "slider slider slider slider slider"
            "postsCaption postsCaption postsCaption hsc hsc"
            "posts posts posts hotShot hotShot"
            "bestsellersCaption bestsellersCaption bestsellersCaption bestsellersCaption bestsellersCaption"
            "bestsellers bestsellers bestsellers bestsellers bestsellers"
            "brandsCaption brandsCaption brandsCaption brandsCaption brandsCaption"
            "brands brands brands brands brands"
            "moreBrandBtn moreBrandBtn moreBrandBtn moreBrandBtn moreBrandBtn"
            "recommendedCaption recommendedCaption recommendedCaption recommendedCaption recommendedCaption"
            "recommended recommended recommended recommended recommended"
        ;
        grid-gap: .5em;
    }

    .slider {
        grid-area: slider;
        display: flex;
        width: 100%;
        margin-bottom: 1.5em;
    }

    .slider img {
        height: 100%
    }

    .newsCaption {
        grid-area: newsCaption;
        display: inline;
        padding: 10px 0;
        text-decoration: none;
        color: #262626;
    }

    .hotShotCaption {
        grid-area: hsc;
        margin: 0;
    }

    .bestsellers {
        grid-area: bestsellers;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border-left: 3px solid #262626;
    }

    .bestsellersCaption {
        grid-area: bestsellersCaption;
    }

    .product {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;


        h3 {
            font-size: 1rem;;
            margin: 10px 0;
        }

        h4{
            font-size: 1rem;
        }

        img {
            width: 80%;
        }
    }

    .hotShotBorder {
        grid-area: hotShot;
    }

    .brandsCaption {
        grid-area: brandsCaption;
        margin: 1em 0 0 0;
    }

    .recommendedCaption {
        grid-area: recommendedCaption;
        font-size: 1.2em;
        margin: 1em 0 0;
    }

    .recommended {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .brand {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 150px;
        width: 230px;

        img {
            width: 30%;
        }
    }

    .next {
        left: 650px;
    }

}

@media (min-width: 1000px) {

    .content {
        width: 950px;
    }

    .next {
        left: 900px;
    }
}

@media (min-width: 1200px) {


    body {
        display: flex;
        flex-wrap: wrap;
        font-size: 25px;
    }

    .mobileSections {
        grid-area: mobileSections;
    }

    .content {
        width: $desktopContent;
        margin-top: .5em;
        grid-column-gap: 1em;

        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "mobileSections mobileSections mobileSections mobileSections mobileSections mobileSections"
            "newsCaption newsCaption newsCaption newsCaption hsc hsc "
            "slider slider slider slider hotShot hotShot"
            "bestsellersCaption bestsellersCaption bestsellersCaption bestsellersCaption bestsellersCaption bestsellersCaption"
            "bestsellers bestsellers bestsellers bestsellers bestsellers bestsellers"
            "brandsCaption brandsCaption brandsCaption brandsCaption brandsCaption brandsCaption"
            "brands brands brands brands brands brands"
            "moreBrandBtn moreBrandBtn moreBrandBtn moreBrandBtn moreBrandBtn moreBrandBtn"
            "postsCaption postsCaption recommendedCaption recommendedCaption recommendedCaption recommendedCaption"
            "posts posts recommended recommended recommended recommended";

    }


    .hotShotBorder {
        margin-bottom: 0;
    }

    .slider {
        display: flex;
        align-items: center;
        border-radius: 20px;
        height: 100%;
        margin-bottom: 0;

        img {
            border-radius: 20px;
            height: 100%
        }
    }

    .bestseller{
        width: 50%;
    }


    .bestsellers {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        img {
            width: 60%;
        }

        h3 {
            font-size: .7em;
        }

        h4 {
            font-size: .8em;
        }
    }

    .product:nth-of-type(n+8) {
        display: flex;
    }


    .timeCaption {
        font-size: 20px;
        
    }

    .newsCaption {
        padding: 0;
    }

    .bestsellersCaption {
        margin: 30px 0 0;
    }

    .brand {

        img {
            width: 40%;
        }

    }

    .next {
        left: $desktopContent - 50px;
    }
}

@include footer;
// footer {
//     height: 300px;
//     width: 100%;
//     background: #262626;
//     color: $primaryColor;
//     text-align: center;
//     line-height: 100px;
//     margin-top: 100px;
// }



* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}