* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: lightcoral; */
    /* height: 200vh; */
    /* height: 100%; */
    /* overflow-x: hidden; */

}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: #fefefe;
    height: 75px;
    z-index: 99;
}

.navbar {
    display: flex;
    align-items: center;
    width: 95%;
    height: 100%;
    /* background: red; */
    height: 100%;
    position: relative;

}

.hamburgerMenu {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 50%;
    flex-basis: 10%;

}

.hamburgerMenu:hover{
    cursor: pointer;
}

.mobileMenuBtn::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 5px;
    width: 25px;
    border-top: 3px solid crimson;

}

.mobileMenuBtn::after {
    content: "";
    width: 25px;
    position: absolute;
    right: 0px;
    top: 13px;
    border-top: 3px solid crimson;
    transition: all .5s ease;
}

.logoHolder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 30%;
    /* background: orange; */
    height: 75%;
}

.logoHolder img {
    width: 40%;
}

.logo {
    width: 60%;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: crimson;
}

.menuHolder {
    display: flex;
    justify-content: flex-end;
    flex-basis: 60%;
}

.menuItem {
    display: flex;
    padding: 3% 2.5%;
    padding: 10px;
    margin: 3%;
    /* background: #949494; */
    border-radius: 15px;
    color: crimson;
    font-size: 20px;

    /* background: #000; */
}

.menuItem:last-child{
    margin-right: 0;
    padding-right: 0;
}

.menuItem :hover{
    cursor: pointer;
}


.mobileMenuBtn {
    display: block;
    top: -6px;
    left: 2px;
    position: relative;
    width: 25px;
    border-top: 3px solid crimson;
    transition: all .5s ease;
}


.mobileMenuBtnTransform {
    transform: rotate(45deg);
    right: 20px;
    top: 2px;
}

.mobileMenuBtnTransform::before {
    display: none;
}

.mobileMenuBtnTransform::after {
    top: -3px;
    right: -1px;
    transform: rotate(-95deg);
}

.searchForm{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80%;
    height: 45px;
    border: 1px solid crimson;
    background: white;
    /* bottom: -55px; */
    bottom: 100px;
    transition: .3s all;
    left: 10%;
    /* right: -100vw; */
    /* opacity: 0; 0 */
    border-radius: 22px;
    /* z-index: -1; */
    /* background-image: linear-gradient(to right, #bc7281, #c76173, #d04f63, #d73851, #dc143c); */
  
    /* background-image: linear-gradient(to right top, #620a21, #7b102c, #951637, #af1c43, #cb234f); */
}

.showSearchForm{
    /* bottom: -55px; */
    transform: translateY(155px);
    /* opacity: 1; */
}

.searchTxt{
    border-right: none;
    width: 80%;
    height: 100%;
    padding-left: 25px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 20px;
    background: rgba(0,0,0,0);
}

.searchSelect{
    background: rgba(0,0,0,0);
    display: none;
}

.searchSelect:hover{
    cursor: pointer;
}

.searchBtn{
    background: rgba(0,0,0,0);
    /* background: red; */
    border: none;
    color: white;
    /* border: 1px solid crimson; */
    border-left: none;
    /* border-radius: 0 20px 20px 0; */
    border-radius: 20px;
    /* background: white; */
    background: crimson;
    width: 20%;
    height: 100%;
    font-size: 18px;
    outline: none;

    /* transition: all .3s; */
}


.searchBtn:hover{
    cursor: pointer;
    /* background: #0078d7; */
}



.mobileSections{
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    padding: 140px 20px ;
    background: #9EE76B;
    background: -webkit-linear-gradient(right, #9EE76B, #4FC587);
    background: -moz-linear-gradient(right, #9EE76B, #4FC587);
    background: linear-gradient(to left, #9EE76B, #4FC587);
    position: fixed;
    /* position: static; */
    width: 100vw;
    height: 100vh;
    left: -100vw;
    z-index: 98;

    transition: .5s all;
}

.mobileMenuLink{
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 20px 0;
    border-top: 1px solid black;
}

.mobileMenuLink:last-child{
    border-bottom: 1px solid black;
}

.displayNone{
    display: none;
}

.displayFlex{
    display: flex;
    transition: 1s all;
}

.leftZero{
    /* left: 0; */
    transform: translateX(100vw);
}

@media (min-width: 768px) {


    .logoHolder img{
        width: 25%;
    }

    .menuItem .fa-search{
        font-size: 0;
    }

    .searchForm{
        opacity: 1;
        width: 40%;
        /* margin: 0 auto; */
        left: 37%;
        bottom: 12px;
    }

    .searchTxt{
        font-size: 14px;
    }


    
    .searchSelect{
        width: 35%;
        
    }

    .searchBtn{
        font-size: 16px;
        width: 20%;
    }

}

@media (min-width: 1200px) {
    body {
        /* display: flex; */
        /* justify-content: center; */
        /* background: cornflowerblue; */
        background: #f2f2f2;
    }

    .navbar{
        width: 70%;
        /* background: #000; */
        justify-content: space-between;
    }

    .logoHolder{
        flex-basis: 25%;
    }

    .menuHolder{
        flex-basis: 25%;
    }

    




    .hamburgerMenu{
        display: none;
        /* background: #000; */
    }

    .searchForm{
        border: 1px solid crimson;
        position: static;
        /* border-radius: 20px; */
        /* align-items: center; */
        /* background: yellow; */
        left: 37%;
        /* width: 30%; */
        /* display: none; */
    }

    .searchTxt{
        width: 65%;
        border: none;

    }

    .searchSelect{
        display: inline;
        border: none;
        /* background: #000; */
        border-left: 1px solid crimson;
        height: 75%;
        /* padding-left: 20px; */
        /* padding-right: 5px; */
        padding: 0 10px;
        /* border: 1px solid crimson; */
        /* border-left: none; */
        /* border-right: none; */
        width: 20%;
        /* border: none; */
        /* height: 50%; */
        /* border-right: 1px solid blue ; */
        -webkit-appearance: none;
        text-align-last: center;
        outline: none;
    }

    select{
        /* text-align: center; */
    }

    .searchSelect::after{
        content: "";
        background: #000;
    }
    
    .searchBtn{
        /* background: crimson; */
        border-radius: 20px;
        /* width: 10%; */
        /* width: 50px; */
        width: 15%;
    }

    .mobileSections{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* position: fixed; */
        position: static;
        width: 70vw;
        flex-direction: row;
        margin-top: 75px;
        padding: 0;
        left: 15%;
        /* right: 15%;     */
        height: 50px;
        transition: 0s;
        /* flex-wrap: wrap; */
        background: #9EE76B;
        background: -webkit-linear-gradient(right, #9EE76B, #4FC587);
        background: -moz-linear-gradient(right, #9EE76B, #4FC587);
        background: linear-gradient(to left, #9EE76B, #4FC587);
        border-radius: 0 0 5px 5px;
    }

    .mobileMenuLink{
        margin: 0;
        padding: 0 15px;
        /* border: 1px solid black; */
        border-top: none;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
    }

    .mobileMenuLink:last-child{
        border-bottom: none;
    }
  
}